#ficha-ap {

	.summary .datos-postales {
		font-size: 0.8em;
	}

	#infoGeneral {

		.galeria .panel-body {
			height: 200px;
			overflow-y: scroll;
		}

		.timeline .panel-body {
			height: 200px;
			overflow-y: scroll;
		}

	} // infoGeneral


} // ficha-ap
