<aside class="col-ms-4 col-sm-4">

	<bootstrap-panel id="timeline" label="Año de creación: 1934" addclass="timeline">
		<codyhouse-timeline src="tmp/timeline.json" scroll="iguazu">
		</codyhouse-timeline>
		<!--
		<ng-include src="'ficha-ap-timeline.html'" autoscroll="iguazu"></ng-include>
		-->

	</bootstrap-panel>

	<bootstrap-panel label="Superficie: 67.620 ha">
		Dos gráficas con superficies comparadas.
	</bootstrap-panel>

	<table class="table table-striped table-bordered">
		<thead>
	        <tr>
				<th>Categoría de conservación</th>
				<th>Ecorregión</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr>
	    		<td>II Parque Nacional / Provincial</td>
	    		<td>Selva Paranaense (59.495 ha)</td>
	    	</tr>
	    	<tr>
	    		<td>VI Reserva Nacional</td>
	    		<td>Selva Paranaense (7.675 ha)</td>
	    	</tr>
	    </tbody>
	</table>

	<section class="como-llegar">
		<p><strong>Localidad más cercana</strong></p>
		<h3>Puerto Iguazú (a 17km)</h3>
		<a href="#" class="btn btn-success">¿Cómo llegar?</a>
	</section>

	<ng-include src="string"></ng-include>
	<section class="objetivos">
		<p><strong>Objetivos generales</strong><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>

		<p><strong>Objetivos específicos</strong><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>

		<p><strong>Categoría internacional</strong><br>
		Sitio de Patrimonio Mundial</p>

		<p><strong>Categoría institucional</strong><br>
		Parque Nacional</p>

		<p><strong>Jurisdicción</strong><br>
		APN</p>

		<p><strong>Tipo de administración</strong><br>
		Nacional</p>

		<p><strong>Administrado por</strong><br>
		Administración de Parques Nacionales<br>
		Instrumento legal de creación: Ley Nacional 12.103/34</p>

		<p><strong>Dominio de la tierra</strong><br>
		Fiscal Nacional</p>

		<p><strong>Ubicación</strong><br>
		Latitud: 25º 40' 6,11" S<br>
		Longitud: 54º 18' 37,92" O</p>

		<p><strong>Objetivos generales</strong><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
	</section>

</aside><!-- columna izquierda -->

<aside class="col-ms-8 col-sm-8">

	<div class="row">
		<div class="col-sm-6">
			<bootstrap-panel label="Datos numéricos">
				<div class="row">
					<div class="col-sm-6">
						2.516 Especies
					</div>
					<div class="col-sm-6">
						24 Amenazadas
					</div>
					<div class="col-sm-12">
						158 Fuentes bibliográficas
					</div>
					<div class="col-sm-12">
						1.249.801 Visitantes anuales
					</div>
				</div>									
			</bootstrap-panel>						
		</div>

		<div class="col-sm-6">
			<bootstrap-panel label="Especies de valor especial: 85" addclass="galeria">
				<div class="gallery-img">
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6">
						<img src="tmp/multimedia-pict-01.jpg" alt="">
					</div>
				</div>
			</bootstrap-panel>						
		</div>
	</div>

	<bootstrap-panel label="Sobre el Área Protegida">
		Gráficas con resumen de dos o tres cosas
	</bootstrap-panel>

	<bootstrap-panel label="Sobre las especies">
		Info relativa a especies
	</bootstrap-panel>

	<bootstrap-panel label="Sobre las investigaciones">
		Info relativa a investigaciones
	</bootstrap-panel>

</aside><!-- columna izquierda -->
