<aside class="col-xs-12">
	<section>		
		<h2>Fotografías</h2>
		<div class="gallery-img">
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-01.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-02.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-03.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-01.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-02.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-03.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-01.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-02.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-03.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-01.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-02.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-03.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-01.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-02.jpg" alt="">
			</div>
			<div class="col-md-2 col-sm-3 col-ms-4 col-xs-6">
				<img src="tmp/multimedia-pict-03.jpg" alt="">
			</div>
		</div>
	</section>
</aside><!-- columna izquierda -->
